body{
  background-color: black;
  color: seashell;
  font-size: 22px;
  opacity: 0.9;
  text-align: center;
  font-family: helvetica;
  margin: 0px;
}

h1, h2, h3, h4{
  margin: 0;
  padding: 10px;
}

/*Header*/

.header{
  display: flex;
  position: fixed;
  z-index: 20;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.header img{
  height: 50px;
  padding: 5px 10px;
}

.nav a{
  text-decoration: underline;
  color: seashell;
  margin: 0px 10px;
}

/*Content*/
.content{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

/*Our Mission */

.mission{
  display: flex;
  justify-content: center;
  align-items: center;
  top: 69px;
  height: 700px;
  width: 1200px;
  background-image: url("../img-mission-background.jpg");
}

.mission .caption{
  width: 100%;
  background-color: black;
}

/*Tea of the Month*/

.tea{
  display: flex;
  flex-flow: row wrap;
  width: 1000px;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
}

.headline{
  width: 100%;
  padding: 10px;
}

.photos img{
  height: 200px;
  width: 300px;
  padding: 10px;
}

/*Locations*/
.locations{
  display: flex;
  flex-flow: column wrap;
  width: 1200px;
  height: 500px;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
  background-image: url("../img-locations-background.jpg");
}

.locations .headline h2{
  padding: 15px;
}

.addresses{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.address{
  display: flex;
  flex-flow: column wrap;
  background-color: black;
  width: 300px;
  opacity: 1;
  padding: 10px 0px;
  margin: 0px 40px;

}

.contact{
  height: 200px;
}

.footer h5{
  padding: 20px;
  text-align: left;
  font-weight: normal;
}
